---
- hosts: all
  connection: network_cli
  collections:
    - alliedtelesis.awplus
  tasks:
    - name: Initialise configuration
      alliedtelesis.awplus.awplus_lag_interfaces:
        config:
          - name: 44
            members:
              - member: port1.0.11
                mode: active
              - member: port1.0.12
                mode: active
              - member: port1.0.13
                mode: passive
          - name: 66
            members:
              - member: port1.0.14
                mode: active
              - member: port1.0.15
                mode: passive
              - member: port1.0.16
                mode: passive
        state: overridden
