---
- hosts: all
  connection: network_cli
  collections:
    - alliedtelesis.awplus
  tasks:
    - name: Configure bgp evpn address-family
      awplus_bgp:
        config:
          neighbors:
            - neighbor: 1.1.1.2
              remote_as: 65000
          l2vpn_address_family:
            vrfs:
              name: 1
              advertisements:
                - protocol: ipv4
            neighbors:
              - neighbor: 1.1.1.2
            advertise_all_vni: True
          ipv4_address_family:
            - vrf: 1
              redistribute:
                - protocol: connected
                - protocol: static
          ebgp_requires_policy: False
          network_import_check: False
          router_id: 192.168.0.3
          bgp_as: 123
        state: replaced
